
body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fpngtree.com%2Fso%2Fadmission-open&psig=AOvVaw1usrumAu0hf3MYnWbeazv9&ust=1694641476145000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCJix_cuFpoEDFQAAAAAdAAAAABAE");
}

/* Style the body background and center content */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
}

/* Style the header */
header {
    background-color: #b1bacf;
    color: #fff;
    padding: 10px 0;
}

/* Style the navigation links */
nav ul {
    list-style: none;
    display: inline;

}

nav ul li {
    display: inline;
    margin-right: 50px;
    align-items: flex-end;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #b1bacf;
}

label {
    display: block;
    margin-bottom: 10px;
}

input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding-right: 1px;
}

button {
    display: inline;
    width: 45%;
    padding: 10px;
    background-color: #b1bacf;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #70aae8;
}

#loginStatus p {
    font-size: 20px;
    margin-bottom: 20px;
}
table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ccc;
    margin: 20px 0;
}

th, td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

/* Styles for the action buttons */
.edit-button, .delete-button {
    padding: 5px 10px;
    background-color: #b1bacf;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-button:hover, .delete-button:hover {
    background-color: #83b1e3;
}

/* Style for the pop-up form */
#popup-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 999;
    display: none;
}

/* Styles for hiding and showing the pop-up form */
.hidden {
    display: none;
}
.delete-button, .edit-button
{
    display: inline;
    width: 30%;
    padding: 10px;
    background-color: #b1bacf;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
